.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: plum;
    border: 1px dotted darkorchid;
    padding: 0.7rem;
    margin: 0.5rem 0;
    Color: black;
    

}